# Every hour, copy changes to environment files to Google Drive
#
# Copy dotfiles to Environment/undotfiles
0 * * * *   rsync $HOME/.crontab $HOME/Google\ Drive/Environment/undotfiles/crontab
0 * * * *   rsync $HOME/.zshrc $HOME/Google\ Drive/Environment/undotfiles/zshrc
0 * * * *   rsync $HOME/.vimrc $HOME/Google\ Drive/Environment/undotfiles/vimrc
0 * * * *   rsync -r $HOME/.vim/* $HOME/Google\ Drive/Environment/undotfiles/vim
# Copy installed packages to Environment/undotfiles
0 * * * *   /usr/local/bin/brew list &> $HOME/.brewlist && rsync $HOME/.brewlist $HOME/Google\ Drive/Environment/undotfiles/brewlist
0 * * * *   /usr/local/bin/brew tap &> $HOME/.brewtap && rsync $HOME/.brewtap $HOME/Google\ Drive/Environment/undotfiles/brewtap
0 * * * *   /usr/local/bin/brew cask list &> $HOME/.casklist && rsync $HOME/.casklist $HOME/Google\ Drive/Environment/undotfiles/casklist
0 * * * *   gem list &> $HOME/.gemlist && rsync $HOME/.brewlist $HOME/Google\ Drive/Environment/undotfiles/gemlist
0 * * * *   vagrant plugin list &> $HOME/.vagrantplugins && rsync $HOME/.vagrantplugins $HOME/Google\ Drive/Environment/undotfiles/vagrantplugins
# Backup vagrant configuration
0 * * * *   rsync -r --exclude='.*' $HOME/VMs $HOME/Google\ Drive/Environment/undotfiles/

