# Every hour, copy changes to environment files to Google Drive
#
# Copy dotfiles to Environment/undotfiles
0 * * * *   rsync $HOME/.crontab $HOME/Google\ Drive/Environment/undotfiles/crontab
# Backup vagrant configuration
0 * * * *   vagrant plugin list &> $HOME/.vagrantplugins && rsync $HOME/.vagrantplugins $HOME/Google\ Drive/Environment/undotfiles/vagrantplugins
0 * * * *   rsync -r --exclude='.*' --exclude='shared' $HOME/VMs $HOME/Google\ Drive/Environment/undotfiles/

